obj/
Notizen/
Neu/
Honki Tonks Zivilisationen/Audio/
Honki Tonks Zivilisationen/Datenbanken/
Honki Tonks Zivilisationen/Spielstand/
Honki Tonks Zivilisationen/Grafikeinstellungen
Honki Tonks Zivilisationen/Meldungen
Honki Tonks Zivilisationen/Nutzereinstellungen
Honki Tonks Zivilisationen/Tastenbelegung
Honki Tonks Zivilisationen/Start
Honki Tonks Zivilisationen/LICENSE
obj_windows/
GNAT*
alire/
config/
share/
obj_alire/
obj_dynamic/
obj_static_dynamic/